* {
  /* cursor: none; */
  color: white;
  margin: 0;
  padding: 0;
  user-select: none;

  font-family: 'DePixel';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
}

body, input {
  background-color: black;
}

.console__inputContainer {
  display: flex;
}

.console__inputContainer__input {
  border: none;
  outline: none;
  flex-grow: 1;
}